.main {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.info {
  flex-basis: 600px;
  padding-right: 30px;
}

.drop-field {
  width: 600px;
  height: 100vh;
  border: 1px dashed #fd974f;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}
