.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 400px;
  background: rgb(253,151,79);
  background: linear-gradient(90deg, rgba(253,151,79,1) 0%, rgba(254,242,228,1) 100%, rgba(253,253,253,1) 100%);
  border-radius: 10%;

  &__title {
    font-weight: bold;
    font-size: 24px;
    color: black;
    letter-spacing: 2px;
  }

  &__field {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;

    transition: border .3s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border: 1px solid rgb(114, 113, 113)
    }

    &:focus {
      border: 1px solid rgb(12, 12, 12);
      border-radius: 10px;
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
    }
  }
}

.btn {
  width: 150px;
  height: 40px;
  font-size: 18px;
  background-color: #fef2e4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover {
    background-color: darken(#fef2e4, 15%);
  }
}