.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 400px;
  background: rgb(253,151,79);
  background: linear-gradient(90deg, rgba(253,151,79,1) 0%, rgba(254,242,228,1) 100%, rgba(253,253,253,1) 100%);
  border-radius: 10%;

  &__title {
    font-weight: bold;
    font-size: 24px;
    color: black;
    letter-spacing: 2px;
  }

  &__field {
    padding: 10px;
    width: 350px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    transition: border .3s ease;

    &.ng-invalid.ng-touched {
      border: 2px solid red;
    }

    &.ng-valid.ng-touched {
      border: 2px solid green;
    }

    &:hover {
      border: 1px solid rgb(114, 113, 113)
    }

    &:focus {
      border: 1px solid rgb(12, 12, 12);
      border-radius: 10px;
      outline: none;
    }

    &::placeholder {
      font-size: 14px;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-control {
    margin-bottom: 20px;
  }
}

.show-mess {
  position: absolute;
  top: 60px;
  left:0;
  display: block;
  width: 100%;
}

.success-msg {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  background-color: green;
  color: #fff
}

.error-msg {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  background-color: red;
  color: #fff
}


.error {
  color: red;
  font-weight: bold;
}
