<div class="container">
  <div
    *ngIf="successMsg || currentErr"
    class="show-mess"
  >
    <span
      *ngIf="successMsg"
      class="success-msg">{{successMsg}}</span>
    <span
      *ngIf="currentErr"
      class="error-msg">{{currentErr}}</span>
  </div>
  <div class="registration">
    <h3 class="registration__title">
      Login
    </h3>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label>
          <input
            type="email"
            class="registration__field"
            placeholder="Enter your email"
            formControlName="email"
            name="email"
          >
        </label>
        <div
          *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
          class="validation"
        >
          <small
            *ngIf="loginForm.get('email').errors.required"
            class="error"
          >
            Field email can't by empty
          </small>
          <small
            *ngIf="loginForm.get('email').errors.email"
            class="error"
          >
            Enter the correct email (test@gmail.com)
          </small>
        </div>
      </div>
      <div class="form-control">
        <label for="">
          <input
            [type]="fieldTextType ? 'text' : 'password'"
            class="registration__field"
            placeholder="Enter password"
            formControlName="password"
            name="password"
          >
          <i
            class="fa visible"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"
          ></i>
        </label>
        <div
          *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
          class="validation"
        >
          <small
            *ngIf="loginForm.get('password').errors.required"
            class="error"
          >
            Field password can't by empty
          </small>
          <small
            *ngIf="loginForm.get('password').errors.minlength"
            class="error"
          >
            Password length must be at least 6 characters
          </small>
        </div>
      </div>
    <button
      class="btn btn--submit"
      type="submit"
      [disabled]="loginForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>