<div *ngFor="let type of keys() | keyvalue">
  <input
    *ngIf="key === type.value"
    class="custom-input__text"
    type="text"
    value="{{value}}"
    (change)="onChange($event)"
  >
</div>

<input
  class="custom-input__color"
  type="color"
  *ngIf="key === 'color' || key === 'backgroundColor'"
  value="{{value}}"
  (change)="onChange($event)"
>

<label class="switch" *ngIf="key === 'required'">
  <input
    class="switch__input"
    type="checkbox"
    (click)="onChange($event)"
    checked
  >
  <span class="slider round"></span>
</label>

<select
  class="custom-input__select"
  name="fortWeight"
  *ngIf="key === 'fontWeight'"
  value="{{value}}"
  (change)="onChange($event)"
>
  <option class="custom-input__select-option" value="normal">Normal</option>
  <option class="custom-input__select-option" value="bold">Bold</option>
</select>
