<div class="field">
  <ul
    class="field-list"
    cdkDropList
    [cdkDropListData]="dropElements"
    (cdkDropListDropped)="onDrop($event)"
  >
    <li
      *ngFor="let item of dropElements"
      class="field-list__item"
      [class.active]="item === currentElement"
      (click)="onSelected(item)"
      cdkDrag
    >
    <div class="control-btn">
      <button class="control-btn__update">
        <i class="fas fa-edit"></i>
      </button>
      <!-- <button
        *ngIf="item.values"
        class="control-btn__update"
        (click)="editSelectOption()"
      >
        <i class="fas fa-plus"></i>
      </button> -->
      <button
        class="control-btn__delete"
        (click)="openDialog()"
      >
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
      <button
        *ngIf="item.name === 'Button'"
        [ngStyle]="item.style"
      >
        {{item.style.value}}
      </button>

      <label *ngIf="item.name === 'Textarea'">
        {{item.style.label}}
        <span [ngClass]="item.style.required === true ? 'required' : ''"></span>
         <textarea
          cols="30"
          rows="40"
          [ngStyle]="item.style"
          [placeholder]="item.style.placeholder"
      ></textarea>
      </label>
     
      <label *ngIf="item.name === 'Input'">
        {{item.style.label}}
        <span [ngClass]="item.style.required === true ? 'required' : ''"></span>
         <input
            type="text"
            [ngStyle]="item.style"
            [placeholder]="item.style.placeholder"
          >
      </label>

      <label
        *ngIf="item.name === 'Checkbox'"
        for="checkBox"
      >
        <input
          type="checkbox"
          id="checkBox"
          [ngStyle]="item.style"
        >
      </label>
      <ng-container *ngFor="let option of item.values">
        <select
          *ngIf="item.name === 'Select'"
          [ngStyle]="item.style"
        >
          <option value="{{option.value}}">{{option.label}}</option>
        </select>
      </ng-container>
    </li>
  </ul>
</div>