<div class="field">
  <ul
    class="field-list"
    cdkDropList
    [cdkDropListData]="dropElements"
    (cdkDropListDropped)="onDrop($event)"
  >
    <li
      *ngFor="let item of dropElements"
      class="field-list__item"
      [class.active]="item === currentElement"
      (click)="onSelected(item)"
      cdkDrag
    >
    <div class="control-btn">
      <button class="control-btn__update">
        <i class="fas fa-edit"></i>
      </button>
      <button
        class="control-btn__delete"
        (click)="deleteElement(item.id)"
      >
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
      <button
        *ngIf="item.name === 'button'"
        [ngStyle]="item.style"
      >
        Button
      </button>
      <textarea
        *ngIf="item.name === 'textarea'"
        cols="30"
        rows="40"
        [ngStyle]="item.style"
        [placeholder]="item.style.placeholder"
      ></textarea>
      <label *ngIf="item.name === 'input'">
        {{item.style.label}}
         <input
            type="text"
            [ngStyle]="item.style"
            [placeholder]="item.style.placeholder"
            required={{item.style.required}}
          >
      </label>

      <label
        *ngIf="item.name === 'checkbox'"
        for="checkBox"
      >
        <input
          type="checkbox"
          id="checkBox"
          [ngStyle]="item.style"
        >
      </label>
      <select
        *ngIf="item.name === 'select'"
        [ngStyle]="item.style"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </li>
  </ul>
</div>