<div *ngIf="currentElement">

  <h2>{{currentElement.name }} {{currentElement.id }} Details</h2>
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let item of accordionItem; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ item }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <ul
          *ngIf="item === 'Info'"
          class="details-list">
          <li
            class="details-list__item"
            *ngFor="let prop of currentElement.style | keyvalue"
          >
            <strong>{{prop.key}}</strong>:
            <span>{{prop.value}}</span>
          </li>
        </ul>
        <div *ngIf="item === 'Change element'" class="change-prop">
          <form class="form">
            <div
              class="wrap"
              *ngFor="let prop of currentElement.style | keyvalue"
            >
              <strong class="details-prop__value">{{prop.key}}</strong>
              <app-custom-input
                [key]="prop.key"
                [value]="prop.value"
                (valueChange)="onSelect($event)"
              >
              </app-custom-input>
            </div>
          </form>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
