<div *ngIf="currentElement">

  <h2>{{currentElement.name }} {{currentElement.id }} Details</h2>
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let item of items; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ item }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <ul
          *ngIf="item === 'Info'"
          class="details-list">
          <li
            class="details-list__item"
            *ngFor="let el of currentElement | keyvalue"
          >
            <div
              class="details-list__style"
              *ngFor="let item of el.value | keyvalue">
                <strong>{{item.key}}</strong>:
                <span>{{item.value}}</span>
            </div>
          </li>
        </ul>
        <div
        *ngIf="item === 'Change element'"
        class="change-prop">
          <form class="form">
            <div class="wrap"
              *ngFor="let el of currentElement | keyvalue"
            >
              <div
                *ngFor="let prop of el.value | keyvalue"
                class="details-prop"
              >
                <strong class="details-prop__value">{{prop.key}}</strong>
                <input
                  type="text"
                  class="details-prop__input"
                  name="{{prop.key}}"
                  [value]="prop.value"
                  (change)="onSelect(prop.key, $event)"
                >
              </div>
            </div>
            <button
              class="btn btn--delete"
              (click)="deleteElem(currentElement)"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
